<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="card-container">
          <!-- Menu Item Card -->
          <h1>CHANGE LOG</h1>
          <h2>v1.1.0</h2>
          <h3>v1.1.1 Use Google OAuth2 as autentication service</h3>
          <h3>v1.1.2 404 Error Handler</h3>
          <h3>v1.1.3 404 Add more modules</h3>
          <!-- END Menu Item Card -->
        </div>
        <button class="tombol tmb-utama bunder">
          <a href="/">
            <strong>
              Go Back to Home
            </strong>
          </a>
        </button>
      </div>
      <!-- MODAL AUTH -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- SCRIPT PARTIALS -->
        <%- include('../partials/script.ejs') %>

  </body>

</html>