<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body>
    <div class="error-container">
      <div class="animasi-1"></div>
      <div class="animasi-2"></div>
      <span class="error-text">
        500
      </span>
      <p>
        We're sorry, something went wrong on server
      </p>

      <br>
      <button class="tombol tmb-utama bunder">
        <a href="/">
          <strong>
            Go Back to Home
          </strong>
        </a>
      </button>
    </div>
  </body>

</html>